/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

.main {
  height: 1000px;
}

.new-registration {
  background-color: #c0dfd9;
  color: #3b3a36;
}

h1 {
  font-family: 'Space Mono', monospace;
}

h2 {
  font-family: 'Space Mono', monospace;
}

label {
  font-family: 'Nunito', monospace;
}

.header {
  background-color: #e9ece5;
}

.twitt {
    color: blue;
}

.able {
    color: #b3c2bf;
}

.login-padding {
  padding: 10px;
}

.btn-space {
  margin: 10px;
}